* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
  cursor: default;
  background-color: #fff;

  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  // background-color: #2C7744;

  background-repeat: repeat-x;


  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  user-select: none;
}

h1 {
  font-size: 50px;
  font-weight: 200;
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  margin-top: -15px;
  color:#fff;
  font-size: 25px;
  padding:10px;
}

h1, h2 {
  color: #fff;
}

a {
  text-decoration: none;
  color: black;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

  padding-bottom: 150px;
}

hr {
  margin-top: 5px;
  height: 2px;
  background-color: rgb(8, 105, 64);
  border-top: none;
  width:40%;
}

div.links a {
  color: #fff;
  opacity: .7;
  margin: 6px;
}

div.links a:hover {
  opacity: 1;
}


